@CHARSET "UTF-8";

m_page ul {
	position: relative;
	margin: 0px 0px;
	float: left;
	width: auto;
}

.m_page_code {
	list-style: none;
	float: left;
	margin: 0px 10px;
	font-size: 15px;
}

.m_page_code span {
	padding: 0px 5px;
	background: #ffa6a6;
}

.m_page_code a:hover {
	color: red;
}

.m_page_jump{
	list-style: none;
	float: left;
	margin: 0px 10px;
	font-size: 15px;
}

.m_page_jump input {
	width: 30px;
	margin: 0px 10px;
	padding: 0px 0px 0px 0px;
}

.m_page_jump a{
	margin: 0px 10px;
}

.m_page_jump a:hover {
	color: red;
}