#welcome {
	text-align: center;
}

#pic {
	text-align: center;
}

body {
	/* font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif; */
	/* background: #f4f4f4 url(/mantou/images/bg.gif) repeat top left; */
	/* color: #333;
	text-shadow: 1px 1px 1px #fff; */
	overflow-y: hidden;
}

.table {
	margin: auto;
	padding: 30px;
	border: solid;
	position: relative;
}

h1 {
	font-size: 50px;
	margin: auto;
	text-align: center;
}

h2 {
	font-size: 20px;
	padding: 0px 0px 10px 0px;
	color: #aaa;
}

td {
	border: solid;
	text-align: center;
}

.line {
	margin: 5px auto;
	width: 100%;
}

.error {
	color: red;
}

.wrapper {
	overflow: hidden;
}

.wrapper_content {
	width: 90%;
	margin: 0 auto;
}

.wrapper_image{
	margin: auto;
	width: 70%;
	height: 60%;
}
.wrapper_image img {
	margin: auto;
	width: 60%;
	height: 50%;
	float: right;
	
}

#m_menu {
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0px 0px;
	border-right: 1px solid;
	width: 10%;
	height: 94%;
}

#m_content {
	position: fixed;
	left: 13%;
	top: 0px;
	width: 87%;
	height: 94%;
	margin: 0px 0px;
	overflow-y: scroll;
}

#m_page {
	float: left;
	width: 100%;
	margin: 10px 0px 30px 0px;
}

#m_bottom {
	position: fixed;
	left: 0px;
	top: 94%;
	border-top: 1px solid;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.m_bottom_user {
	float: right;
	width: 400px;
}

.m_bottom_user_info {
	float: right;
	width: 350px;
	text-align: right;
}

#sub_m_title {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.m_link_left {
	float: left;
	margin: 5px 4px 5px 4px;
	list-style: none;
}

m_page ul {
	position: relative;
	margin: 0px 0px;
	float: left;
	width: auto;
}

.m_page_code {
	list-style: none;
	float: left;
	margin: 0px 10px;
	font-size: 15px;
}

.m_page_code span {
	padding: 0px 5px;
	background-color: #ffa6a6;
}

.m_page_code a:hover {
	color: red;
}

.m_page_jump{
	list-style: none;
	float: left;
	margin: 0px 10px;
	font-size: 15px;
}

.m_page_jump input {
	width: 30px;
	margin: 0px 10px;
	padding: 0px 0px 0px 0px;
}

.m_page_jump a{
	margin: 0px 10px;
}

.m_page_jump a:hover {
	color: red;
}


#sub_m_head {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

#sub_m_head p {
	text-align: center;
}

#m_threads_list {
	
}

.m_post_r {
	top: 0px;
	margin: auto;
	width: 100%;
	padding-bottom: 5px;
	overflow: hidden;
	border: thick;
	overflow: hidden;
}

.m_post {
	padding: 20px;
	width: 480px;
	margin: 0 auto;
}

.m_post_i input {
	border: 3px #ccc solid;
	padding: 3px;
	width: 100%;
}

.m_post_i .m_post_i_text {
	font: 20px;
}

.m_post_i textarea {
	border: 3px #ccc solid;
	width: 100%;
	padding: 3px;
	height: 80px;
	resize: none;
}

.m_post_r .m_post_e {
	float: left;
	padding-left: 14%;
	padding-bottom: 8px;
	margin: 0px auto;
	width: 10%;
	background-color: #b8cfa7;
}

.m_post_e .m_post_e_text {
	float: left;
	padding-top: 4px;
	text-align: center;
}

.m_post_r .m_post_i {
	float: left;
	padding-bottom: 3px;
	margin: 0px auto;
	width: 60%;
}

.m_post_r .m_post_report_i{
	float: left;
	padding-bottom: 3px;
	margin: 0px auto;
	width: 60%;
}


.m_post_i .m_post_pic {
	position: relative;
	margin: 0px 0px 0px 15px;
	float: left;
	width: 60%;
	padding: 5px;
}

.m_post_pic .m_post_pic_text {
	position: absolute;
	margin: -4px auto;
	float: left;
	width: 40%;
	padding: 5px;
	background: #b8cfa7;
	border: thin;
}

.m_post_pic .m_post_pic_hide {
	position: absolute;
	float: left;
	width: 40%;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

.m_post_i  #m_post_submit {
	position: relative;
	margin: 0px 0px 0px 5px;
	float: left;
	width: 23%;
	padding: 5px;
	background: #aa9cc2;
}

#m_threads_list {
	margin: 0px 10px 10px 0px;
	padding: 3px 30px;
}

/* .m_threads_info span{
	margin: 0px 5px;
}
 */
.m_threads_main {
	margin: 20px 0px;
	padding: 5px 5px;
	float: left;
	width: 100%;
	background: #F5F5F5;
}

.m_threads_info  .m_threads_info_title, .ref_threads_info_title {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 5px;
	width: auto;
	display: inline;
}

.m_threads_info  .m_threads_info_uid, .ref_threads_info_uid {
	font-weight: bold;
	width: auto;
	margin: 0px 5px;
	display: inline;
}

.m_threads_info .m_threads_info_report, .ref_threads_info_report {
	font-size: 10px;
	width: auto;
	display: inline;
}

.m_threads_info .m_threads_info_report a, .ref_threads_info_report a {
	color: #ff6a6a;
}

.m_threads_info .m_threads_info_reply {
	font-size: 15px;
	width: auto;
	display: inline;
}

.m_threads_info .m_threads_info_reply a {
	color: #187426;
}

.m_threads_reply {
	margin: 10px 0;
}

.m_threads_content, .ref_threads_content {
	padding: 10px 30px;
}

.m_threads_reply_main {
	margin: 10px 20px 10px 20px;
	background: #e0e0e8;
	display: table-cell;
	width: 50%;
}

.m-threads-tips {
	width: 100%;
}

.m_threads_imagebox, .ref_threads_imagebox {
	float: left;
}

.m_threads_main .m_threads_imagebox img, .ref_threads .ref_threads_imagebox img
	{
	max-width: 300px;
	margin: 6px;
}

.m_threads_reply_main .m_threads_imagebox img, .ref_threads .ref_threads_imagebox img
	{
	max-width: 300px;
	margin: 6px;
}

.m_threads_reply {
	display: table;
}

.ref_threads {
	border: 1px solid #f7fbaa;
	height: auto;
	min-height: 100px;
	position: absolute;
	width: auto;
	min-width: 800px;
	margin: 0px auto;
	display: none;
	background-color: #d0d0d0;
	margin: 0px auto;
}

.ref_threads .ref_threads_imagebox {
	float: left;
}

.ref_threads .ref_threads_info {
	margin: 0px 15px 0px 0px;
	width: auto;
}

.ref_threads .ref_threads_content {
	
}

.ref_theads .ref_threads_content .ref_threads_content_ref, .ref_theads .ref_threads_content .ref_threads_content_text
	{
	margin-left: 15px;
	margin-right: auto;
	padding-left: 15px;
}

.m_threads_main .m_threads_info, .m_threads_reply_main .m_threads_info {
	width: 100%;
}

.m_threads_content_ref, .ref_threads_content_ref {
	color: green;
}


