.report_main {
	margin: 25px auto;
}

table.report_table, table.user_info_table {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin: 0px auto;
}

table.report_table th, table.user_info_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.report_table td, table.user_info_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

#sub_m_users {
	height: 400px;
	width: 800px;
	margin: 0px auto;
	background: #feedde;
}

#sub_m_users .sub_m_users_tab {
	height: 50px;
	width: 100%;
	background: #c0c0c0;
}

#sub_m_users .sub_m_users_tab a {
	display: inline-block;
	height: 30px;
	width: 100px;
	padding: 10px 10px;
	float: left;
	color: #646464;
	text-decoration: none;
	padding: 10px 10px;
}

#sub_m_users .sub_m_users_tab a.on {
	background: #E64E3F;
	color: #fff;
	text-decoration: none;
}

#sub_m_users .sub_m_users_tab a:hover {
	background: #E64E3F;
	color: #fff;
	text-decoration: none;
}

#sub_m_users .sub_m_users_content {
	background: #cde0e4;
	padding: 10px 0px;
	height: 350px;
	padding: 10px 0px;
	display: none;
}

.user_query {
	margin: 10px 20px;
	height: 200px;
	display: inline-block;
	float: left;
}

.user_result {
	display: inline-block;
	float: left;
}

.user_query span, .user_query input {
	display: block;
}

.user_query input[type="text"], .user_query span {
	margin: 5px 15px 5px 15px;
}

.user_query input[type="submit"] {
	margin-right: 20px;
	float: right;
	display: inline;
}



.user_info_title {
	margin: 15px 30px;
}


#user_create_content .user_reg_title,#user_create_content input[type="text"],#user_create_content input[type="password"]{
	margin: 10px auto;
	display: block;
}
#user_create_content span{
	text-align: center;
}
#user_create_content div{
	text-align: center;
}

.no_results {
	margin-left: 40px;
	color: red;
}

.user_info_div table {
	margin: 5px 30px;
	position: relative;
}